# Hostname for the database
# Example value but correct as a default - must be docker network alias for the script server
DATABASE_HOST=localhost

# Address for Kafka Broker
# Example value but correct as a default - must be docker network alias for the kafka server
KAFKA_BROKER_ADDR=localhost:9092
